{% extends 'users/base.html' %}

{% block content %}
<body class="bg-light" style="text-align: center; margin-top: 50px;">
    <h1 style="font-family: Arial, sans-serif; color: #0d6efd;"> <!-- btn-primary color -->
        Хотите выйти?
    </h1>
    <form action="{% url 'logout' %}" method="post" style="max-width: 400px; margin: 0 auto; padding: 20px; border: 1px solid #0d6efd; border-radius: 10px; background-color: #f0f8ff;">
        {% csrf_token %}
        <div style="text-align: center; margin-top: 20px;">
            <button type="submit" style="padding: 10px 20px; background-color: #0d6efd; color: white; border: none; border-radius: 5px; cursor: pointer; font-weight: bold;">
                Выйти из профиля
            </button>
{% endblock %}
