{% extends 'users/base.html' %}

{% block content %}
<div class="text-center" style="margin-top: 50px;">
    <h1 style="font-family: Arial, sans-serif; color: #0d6efd;">Добавить студентов в курс</h1>
</div>

<div class="container" style="max-width: 800px; margin: 20px auto; padding: 20px; border: 1px solid #0d6efd; border-radius: 10px; background-color: #f0f8ff;">
    {% if not is_empty %}
    <form method="POST" action="{% url 'add_students' course.id %}">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="{{ form.options.id_for_label }}" style="font-weight: bold;">{{ form.options.label }}</label>
            {{ form.options }}
        </div>
        
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg">Отправить</button>
        </div>
    </form>
    {% else %}
    <form method="POST" action="{% url 'add_students' course.id %}">
        {% csrf_token %}
        <p class="text-center" style="font-weight: bold;">Нет студентов, доступных для добавления в данный курс</p>
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg">Перейти к информации по курсу</button>
        </div>
    </form>
    {% endif %}
</div>
{% endblock %}
