<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Заполните форму по изменению задания</h1>
    {% if messages %}
    <div class="mb-3">
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    <div>
    <form method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Отправить</button>
    </form>
</div>
<div>
    <a href="{% url 'delete_task' topic_id task_id %}">Удалить задание</a>
</div>
</body>
</html>