<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>{{ course.title }}</h1>
    <p>{{ course.description }}</p>
    <ul>
    {% for topic in course.topics.all %}
    <li>
        <div>
            {{ topic.title }}
        </div>

        <a href="{% url 'upload_assignment' topic.id %}">Добавить материалы в тему</a>
        <a href="{% url 'change_topic' course.id topic.id %}">Отредактировать тему</a>
        <a href="{% url 'delete_topic' course.id topic.id %}">Удалить тему</a>

    </li>
    {% endfor %}
</ul>
</body>
</html>