<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ course.title }}</title>
</head>

<body>
    <h1>{{ course.title }}</h1>
    <p>{{ course.description }}</p>

    <ul>
        {% for topic in course.topics.all %}
        <li>
            {% if topic.is_open %}
            <h2>{{ topic.title }}</h2>
            <p>{{ topic.description }}</p>

            <ul>
                {% for assignment in topic.assignments.all %}
                <li>
                    <p>{{ assignment.id }}</p>
                    <a href="{% url 'get_assignment' assignment.id %}">{{ assignment.title }}</a>
                    
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</body>

</html>