{% extends 'users/base.html' %}

{% block content %}
<div class="text-center" style="margin-top: 50px;">
    <h1 style="font-family: Arial, sans-serif; color: #0d6efd;">{{ course.title }}</h1>
</div>

<div class="container" style="max-width: 800px; margin: 20px auto; padding: 20px; border: 1px solid #0d6efd; border-radius: 10px; background-color: #f0f8ff;">
    <p>{{ course.description }}</p>

    <ul class="list-group">
        {% for topic in course.topics.all %}
            {% if topic.is_open %}
            <li>
            <h2>{{ topic.title }}</h2>

            <p>{{ topic.description }}</p>

            <ul class="list-group">
                {% for assignment in topic.assignments.all %}
                <li>
                    <p>{{ assignment.id }}</p>
                    <a href="{% url 'get_assignment' assignment.id %}">{{ assignment.title }}</a>
                    
                </li>
                {% endfor %}
            </ul>
        </li>
            {% endif %}
        
        {% endfor %}
    </ul>
</div>
{% endblock %}
