{% extends 'main/base.html' %}

{% block content %}
    <h1>Заполните форму по созданию задания</h1>
    {% if messages %}
    <div class="mb-3">
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    <form method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
    </div>
    <div class="text-center">
        <button type="submit" style="padding: 10px 20px; background-color: #0d6efd; color: white; border: none; border-radius: 5px; cursor: pointer; font-weight: bold;">
            Отправить
        </button>
    </div>
</form>
{% endblock %}
